h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

p{
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
    text-align: center;
}

ul{
    background-color: red;
}

.texto{
    background-color: blue;
}

li{
    font-family: Roboto;
    font-style: italic;
    font-weight: 800;
    line-height: 48px;
}

.marrom{
    background-color: maroon;
    color: white;
    text-decoration: underline;
}

.vermelho{
    background-color: red;
    text-decoration: underline;
}

#amarelo{
    background-color: yellow;
    text-decoration: underline;
}